/***
* -- Navigation Submenu  -- *
***/

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--preset--color--base-2);
	color: var(--wp--preset--color--base-2);
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 37px;
	/* padding-bottom: 37px; */
	border-radius: 10px;
}

.wp-block-navigation :where(.wp-block-navigation__submenu-container) a {
	padding: 2px 10px;
}

.wp-block-navigation .wp-block-navigation__submenu-container {
	background-color: #f5f5f5; /* Background color of the submenu */
	padding: 10px; /* Padding around submenu items */
}

.wp-block-navigation .wp-block-navigation__submenu-container a {
	color: #333333; /* Text color for submenu links */
	font-size: 14px; /* Font size for submenu links */
	font-weight: 400; /* Font weight for submenu links */
}

.wp-block-navigation .wp-block-navigation__submenu-container a:hover {
	color: #000000; /* Hover color for submenu links */
}

.wp-block-navigation__submenu-container.wp-block-navigation-submenu li.wp-block-navigation-item.wp-block-navigation-link {
	padding-bottom: 28px;
}

/* .wp-block-navigation.items-justified-right .wp-block-navigation__container .has-child .wp-block-navigation__submenu-container {
	left: -1px;
} */

.wp-block-navigation .has-child:not(.open-on-click):hover>.wp-block-navigation__submenu-container{
	min-width: max-content !important;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
  /* padding-left: 22px; */
  /* padding-right: 22px; */
  /* padding-top: 37px; */
  /* padding-left: 22px; */
  /* padding-right: 22px; */
  /* padding-top: 37px; */
}

.wp-block-navigation__submenu-container.wp-block-navigation-submenu li.wp-block-navigation-item.wp-block-navigation-link {
  /* padding-bottom: 28px; */
  padding-bottom: 20px !important;
	padding-left: 10px !important;
}

.wp-block-navigation__submenu-container.wp-block-navigation-submenu li.wp-block-navigation-item.current-menu-item.wp-block-navigation-link::before {
	left: 0px;
}

.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
  padding-top: 10px !important;
  padding-right: 10px !important;
	padding-bottom: 10px !important;
  padding-left: 10px !important;
}

.wp-block-navigation .has-child .wp-block-navigation__submenu-container {
	left: 40px !important;
	/* top: 150% !important; */
	/* top: 40px !important; */
}

ul.wp-block-navigation__container.main-menu li {
	display: flex; /* Enable flexbox */
	align-items: center; /* Vertically center the content */
	padding-left: 40px; /* Add space for the custom image */
	position: relative; /* Relative position for pseudo-element */
}

ul.wp-block-navigation__container.main-menu li.current-menu-item:not(.contact-navigation-link)::before {
	content: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="%23038B9F"/></svg>');
	position: absolute;
	left: 20px;
	top: 0px;
	transform: translateY(-25%);
	width: 10px;
	height: 10px;
}

li.current-menu-item::after {
	background-image: url('data:image/svg+xml,<svg width="40" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.6668 25.9767L11.1784 20.4884L8.82178 22.845L16.6668 30.69L32.8451 14.5117L30.4884 12.155L16.6668 25.9767Z" fill="%238B01FF"/></svg>') !important;
}

/* Menu Mobile */

.wp-block-navigation__responsive-container.is-menu-open li.wp-block-navigation-item.wp-block-navigation-link,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.has-child.open-on-hover-click.wp-block-navigation-submenu {
	font-size: 29px !important;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation .wp-block-navigation__submenu-container a {
	font-size: 22px;
}

.wp-block-navigation__responsive-container.is-menu-open .contact-navigation-link a, a.contact-navigation-link {
	padding: 8px 66px 8px 30px !important;
}


@media (min-width: 1024px) and (max-width: 14439px) {
	.home .navbar {
		top: 60px !important;
		z-index: 500;
		position: absolute;
		inset: 0% 0% auto;
	}
}

.home .navbar.fixed {
	position: fixed;
	top: 0 !important;
	left: 0;
	width: 100%;
}